
/proj.android/assets
/proj.android/bin
/proj.android/gen
/proj.android/libs
/proj.android/obj
/proj.win32/Debug.win32
/proj.win32/Release.win32
Resources/editor/
Resources/map/1.tmx
Resources/map/low/
/proj.android/temp
proj.ios/CCISO.xcodeproj/project.xcworkspace/xcshareddata/
proj.ios/CCISO.xcodeproj/xcuserdata/